
.navbar{
    background-image: url("../Gambar/225946.jpg");
    border-radius: 2px;
}
#lightcard{
    background-image: url("../Gambar/225946.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url("../Gambar/225946.jpg");
}
#img{
    padding-top: 20px;
    width: 425px;
    height: 425px;
}